header {
background-color: blue; color:white
 }
.container {
    background-color: gray; color: black;
}   
p{
    color: red;
} 
.highlight {
    color: green;
} 
.main-content{ 
    color:yellow
}
.question5{
    text-align: center;
}
.dashunderlines {
    text-decoration: underline;
}
.bold-text {
    font-weight: bold;
}
#myid {
    font-weight:300  ;
}
body {
    font-family:'Times New Roman',serif ;
}
