header {
background-color: blue; color:white
 }
.container {
    background-color: gray; color: black;
}   
p{
    color: red;
} 
.highlight {
    color: green;
} 
.main-content{ 
    color:yellow
}
.question5{
    text-align: center;
}
